body {
    background: url("./texture.png")
}

div[name='pie_group'] {
    display: none;
}

div[name='spot_group'] {
    display: none;
}

div[name].visible {
    display: block;
}

.slider.slider-horizontal {
    width: 150px;
}

.slide:after {
    content: " ";
    white-space: pre;
}

label.btn.btn-warning.active:after {
    content: " ";
    white-space: pre;
}

i:after {
    content: "   ";
    white-space: pre;
}

#rendering {
    width: 680px;
}

#sidebar {
}

.slide {
    width: 200px;
}

.keys, .value {
    width: 4em;
}

.keys {
/*    margin-right: 10px; */
}


.value {
    margin-left: 10px;
}

.card:focus {
    outline: none;
}

.table {
    display: table;
}

.row {
    background-color: #2D2D2D;
    color: white;
    display: table-row;
}

.cell {
    display: table-cell;
}

label.btn.btn-warning.debug {
    margin-bottom: 0;
    margin-left: 1em;
    border-radius: 0;
    width: 3.5em;
    border-color: #FFB836 #AB6F00 #AB6F00 #FFB834;
}

label.btn.btn-warning.debug:after {
    content: " ";
    white-space: pre;
}

div.table.debug div.row .cell{
    vertical-align: middle;
}

div.table.debug div.row div.cell:first-child {
    width: 5em;
}

div.table.debug div.row div.cell:first-child i:after {
    content: "";
}

div.table.debug div.row:first-child label.debug {
    border-color: #FFB834 #AB6F00 #B97800 #FFB834;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    margin-top: 10px;
}

div.table.debug div.row:last-child label.debug {
    border-color: #FFB836 #AB6F00 #AB6F00 #FFB834;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    margin-bottom: 10px;
}

